{template "header1.html", "/"}
<link rel="stylesheet" type="text/css" href="{THEME_PATH}home/css/affixBeta.css">
<script type="text/javascript" src="{THEME_PATH}home/js/affixBeta.js"></script>
<style type="text/css">
	.box0 ul.pagination li{
		 line-height: 1; 
	     padding-left: 0px; 
	     background-image:none; 
	     font-size: 17px;
	} 

</style>
 <div class="sloganWrapper">
   
</div>
<div class="floatWindow appointment" data-spy="affix" data-offset-top="662" data-offset-bottom="972">
        <div class="post_demands"><a href="#contact"><img src="{THEME_PATH}home/img/post_demands.png"></a></div>
    </div>
    
    <div class="consulting_body clear">

        <div class="consulting_r">

            <div class="contactUs">
                <div class="contactUs_l ">
                    <div class="contactUs_head box_row" >
                        <div style="height:60px;">
                            <img style="margin-top:-7px;" src="{THEME_PATH}home/img/iconQMark.png">  
                        </div>
                        
                        <div class="title_text">
                            <span style="font-size:30px;">把您的困惑告诉顾问吧</span>
                            <span style="color:#A4A3A3;">专业顾问为您在线解答</span>
                        </div>
                    </div>

                    <form class="contact_form" action="/index.php?s=member&mod=answer&c=home&m=add"  method="post" novalidate="novalidate">
                        <input name="action" id="dr_action" type="hidden" value="" />
                        <input name="dr_id" id="dr_id" type="hidden" value="" />
                        <input name="dr_module" id="dr_module" type="hidden" value="answer" />
                        <label >服务类别：<label class="c_input" style="font-size:17px">{$select}</label> </label>
                        <input class="question_input"  type="text" name="data[title]" id="dr_title" value="" data-placeholder="在这里概述您的问题" required="required" />
                        <label >问题补充<span style="font-size:13px">（选填）</span>
                            <textarea style="font-size:14px" name="data[content]" id="dr_content" data-placeholder="您可以继续在这里补充您的问题细节"></textarea> 
                        </label>
                        <div class="input_group" style="margin-top:20px">
                            <span style="float: left;line-height:38px;margin-right:10px;color:#707070">手机号码:</span>
                            <input style="width:323px;height:38px;float: left;padding-left:12px;margin-right:5px;" type="text" name="data[mobile]" id="dr_mobile" value="" required="required" />
                            <input type="submit" name="" value="提交问题" style="margin-left: 13px;font-size: 16px;color:#fff;width:116px;height:38px;float: left;padding:0px;background:#f48000;">
                        </div>
                    </form>

                </div>
                <div class="contactUs_r" style="float:right;width:32%;">
                     <img src="{THEME_PATH}home/img/contactUsBg.png" > 
                </div>
            </div>
            <div class="consulting_l ">
                <div class="consulting_category">
                    按服务类别咨询
                </div>
                {list action=category module=answer pid=0 return=c1}
                <div class="category_list">
                    <a href="{$c1['url']}"><h1 class="category_title">{$c1['name']}<span style="float:right;color:#919191;">></span></h1></a>

                    <div class="category_details">
                        {list action=category module=answer pid=$c1['id'] return=c2}
                        <a href="{$c2['url']}" {if $catid==$c2['id']}class="on"{/if}>{$c2['name']}</a>
                        {/list}
                    </div>
                    
                </div>
                {/list}
            </div>

            <div class="contactUs02 ">
                <div class="consultingBox">
                    
                    <div class="box0 topBorderOrange">
                        <h1><span class = "on" >网友正在问</span>
                        </h1>
                        <ul>
                            {list action=module module=answer order=updatetime num=15}
                            <li><img class="littleIcon" src="{THEME_PATH}home/img/iconFire.png"><a href="{$t['url']}" target="_blank">{dr_strcut($t['title'],100)}</a> <span class="time">{$t['updatetime']}</span></li>
                            {/list}
                        </ul>
                        
                    </div>
                    <div class="box0 topBorderOrange">
                        <h1 class="box0Nav">
                        当前服务：<span class="on">{dr_cat_value('1-answer', $catid, 'name')}</span>
                     
                        </h1>
                            
                        <ul class="box_row">
                            {list action=module module=answer catid=$catid order=updatetime page=1}
                            <li><img class="littleIcon" src="{THEME_PATH}home/img/iconFire.png"><a href="{$t['url']}" target="_blank">{dr_strcut($t['title'],100)}</a> <span class="time">{$t['updatetime']}</span></li>
                            {/list}
                            
                        </ul>
						{if $pages}
							<div class="news_row box_row">
	                            <ul class="pagination">
	                                {$pages}
	                                <li class="jumpTo">跳转到:</li>
	                                <li class="pageInput"><input class="inset" id="inset" type="text" value=""></li>
	                                <li class="last"><a id="goto" href="/index.php?s=answer&c=category&id={$catid}&page=1">Go</a></li>
	                            </ul> 
                        	</div>
                        {/if}
                    </div>
                </div>


                <div class="contactMe">
                    <div class="contactSlider ">
                        <!--picRow03图片展示-->
                        <div class="picRow03_wrapper" id="consulting">
                            <div class="contactMeButton clear">
                                <div style="float:left;font-size:16px;font-weight:600;">找顾问解答</div>
                             
                            </div>
                            
                            <div class="picRow03">
                                  <ul >
                                      <li>
                                          <div class="picBox">
                                              <img src="{THEME_PATH}home/img/advisor.png">  
                                          </div>
                                          <div class="textBox">
                                              <span class="textRow name">顾问</span>
                                              <span class="textRow ">联标国际联标国际联标国际联标国际联标国际</span>
                                          </div>
                                      </li>
            
                                  </ul>
                            </div>
     
                        </div>
                        <!--picRow03图片展示end-->
                        <div class="contactMeNum">联系电话：1800000000</div>
                        <div class="buttonRow">
                            <a style="background:url(../statics/home/img/qqButton.png) no-repeat;margin-right:5px;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2463716563&amp;menu=yes">
                                2222222
                            </a>
                            <a class="quick_tel" style="background:url(../statics/home/img/weChatButton.png) no-repeat;padding-left:34px;">
                                扫描二维码
                            </a>
                        </div>
                    </div>

                    <div class="contact_form contact_form02">
                        <form action="/index.php?c=form_adviser" method="post" name="myform" id="myform">
                            <p>网站建议与反馈</p>
                            <input class="fan-theme" type="text" name="data[title]" id="dr_title" value="" required="required" data-placeholder="请输入主题" />
                            <textarea data-placeholder="请详细说明" name="data[detail]" id="dr_detail" ></textarea>
                            <p>留下您的联系方式</p>
                            <input class="fan-theme" type="text" name="data[a_phone]" id="dr_a_phone" value="" required="required" data-placeholder="请输入您的电话" />
                            <input style="color:#fff;" type="submit" name="" value="提交问题">
                        </form>
                        
                    </div>
                </div>
            </div>
            

        </div>

    </div>


     <script type="text/javascript">
    $(function(){

        $(".taxTool").height($(".newsLeft").height()+75 );

        $("#inset").bind('input propertychange', function(){
            var hr = '/index.php?s=answer&c=category&id={$catid}&page='+ $("#inset").val();
            $("#goto").attr('href',hr);

        });

    });

</script>


{template "footer1.html"}