.control{
    width: 1290px;
    margin: 0 auto;
    text-align: center
}

.content{
  background-color: #ffffff;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 60px 40px 0px 50px;
}
.content .contentone{
  height: 355px;

}
.content .contentone img{
   float: left;
   margin-right: 23px;
}

.content .contentone h3{
   font-family: Euphemia;
   font-size: 14px;
   color: #333333;
   padding-top: 5px;

}

.content .contentone h4{
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.content .contentone h4 span{
  color: #d7b175;
}


.content .contentone h5{
  margin-top: 30px;
}
.content .contentone h5 p{
  font-size: 14px;
  color:#666666;
  font-weight: normal;
}

.content .contentone h6{
  margin-top: 24px;
  font-size: 14px;
  color:#666666;
  font-weight: normal;

}

.contenttwo{
  margin-top: 0px;
  height: 368px;

}
.content .contenttwo img{
   float: right;
   margin-right: 0px;
   margin-top: 0px;    
}
.contenttwo h3{
  font-size: 24px;
  font-weight: bold;
  color: #333333;

}
.contenttwo h3 span{
  color: #d7b175;
}
.contenttwo h4{
   margin-top: 0px;
   margin-bottom: 60px;
}

.contenttwo h4 p{
  font-size: 14px;
  color: #666666;
  font-weight: normal;
}

.contentthree{
  margin-top: 54px;

}
.content .contentthree img{
   float: left;
   margin-right: 0px;
   margin-top: 0px;    
}
.contentthree h3{
  font-size: 24px;
  color: #333333;
  font-weight: bold;
}
.contentthree h3 span{
  color: #d7b175;
}

.contentthree h4{
  margin-top: 20px;
    padding:0 100px;
    width:1000px;
}
.contentthree h4 p{
   font-size: 14px;
   color: #666666;
   font-weight: normal;
}

