{template "header.html"}
{if get_ad_status(1)} 
{php $poster = dr_poster_list(2, 1);} 
{loop $poster $i $t}
<div style="background:url({$t.file}) center center no-repeat; height:281px;"></div>
{/loop} 
{/if}
<div id="container2">
    <div id="mainBody_in">
        <div class="right_in_right_titile">
            <div class="weizhi_now">{$name}</div>
            <div class="position_now"> <img src="skin/images/home_btnsd.gif" width="10" height="9" align="absmiddle" />&nbsp; <img src="skin/images/jiantou.gif" align="absmiddle" />&nbsp; 关于联标&nbsp;<img src="skin/images/jiantou.gif" align="absmiddle" /> &nbsp;<span class="color4c5560"></span>{$name}
            </div>
        </div>
        <!--中间内容开始-->
        <div id="left">
            <div class="left_in_nav">
                <!--左边二级导航栏开始-->
                <div id="pro_nav_content">
                    <div id="DivList">
                        {list action=navigator type=0 pid=6}
                        <div id="yiji_nav">
                            <div>
                                <a href="{$t.url}" class="pro_menubg_">{$t.name}</a>
                            </div>
                        </div>
                        <div id="Div_173" class="sub" style="display:none; width:100%;">
                            <div style="">
                            </div>
                        </div>
                        {/list}
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            var fid = '173';
                            $("#" + fid + "").attr("class", "pro_menubg_over");
                            $("#Div_" + fid + "").css("display", "");
                            var sid = '';
                            $("#show" + sid + "").css("display", "");
                        });
                    </script>
                </div>
                <!--左边二级导航栏END-->
            </div>
            <div>
                <div>
                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={dr_block(2)}&amp;menu=yes" target="_blank"><img src="skin/images/lianxi.jpg" width="229px;"></a>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div id="right">
            <div class="right_in_right">
                <div class="about_tit">
                    {$title}
                </div>
                <!--<div style="line-height:22px; height:22px; text-align:center; color:#6b6b6b">作者：{$author} &nbsp;时间 ：{$updatetime}&nbsp;浏览：{dr_show_hits($id)}
                </div>-->
                <div class="right_in_right_content">
                    <div class="about_us_content_right">
                        <p><span style="font-size: 14px;"><span style="font-family:SimSun;">{$content}</span></span>
                        </p>
                    </div>
                </div>
                <div style="clear:both"></div>
                <div style="height:30px;"></div>                
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24">
               <span class="jiathis_txt" style="font-size:12px;">分享到：</span>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->                
            </div>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>
<div>
{template "footer1.html"}