{template header.html}
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
		{$menu}
	</div>
	<div class="bk10"></div>
	<div class="explain-col">
		{fc_lang('广告位就是一个容器，它用来存储广告，调用广告位时系统会随机显示某一个广告')}
	</div>
	<div class="bk10"></div>
	<div class="table-list">
		<form action="" method="post" name="myform" id="myform">
		<table width="100%">
		<thead>
		<tr>
            <th idth="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
            <th class="{ns_sorting('id')}" name="id" width="50" align="left">Id</th>
            <th class="{ns_sorting('name')}" name="name" width="200" align="left">{fc_lang('名称')}</th>
			<th class="{ns_sorting('type')}" name="type" width="100" align="left">{fc_lang('类型')}</th>
			<th class="{ns_sorting('itmes')}" name="items" width="70" align="left">{fc_lang('数量')}</th>
			<th class="{ns_sorting('status')}" name="status" width="70" align="left">{fc_lang('状态')}</th>
			<th align="left" class="dr_option">{fc_lang('操作')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr>
            <td align="right"><input name="ids[]" type="checkbox" class="dr_select" value="{$t['id']}" />&nbsp;</td>
            <td align="left">{$t.id}</td>
            <td align="left">{$t.name}</td>
			<td align="left">{$type[$t.type]}</td>
			<td align="left">{$t.items}</td>
			<td align="left">{if $t.status}<font color=green>{fc_lang('可用')}</font>{else}{fc_lang('关闭')}{/if}</td>
			<td align="left" class="dr_option">
                {if $this->ci->is_auth('adm/admin/poster/edit')}<a class="aedit" href="javascript:;" onclick="dr_dialog('{dr_url('adm/poster/edit', array('id'=>$t.id))}', 'edit')">{fc_lang('修改')}</a>{/if}
                {if $this->ci->is_auth('adm/admin/poster2/index')}<a class="alist" href="{dr_url('adm/poster2/index', array('sid'=>$t.id))}">{fc_lang('广告管理')}</a>{/if}
            </td>
		</tr>
		{/loop}
        <tr>
            <th width="20" align="right"><input name="dr_select" id="dr_select" type="checkbox" onClick="dr_selected()" />&nbsp;</th>
            <td colspan="6" align="left" style="border:none">
                {if $this->ci->is_auth('adm/admin/poster/del')}<input type="button" class="button" value="{fc_lang('删除')}" name="option" onClick="dr_confirm_set_all('{fc_lang('您确定要这样操作吗？')}')" />{/if}
            </td>
        </tr>
		</tbody>
		</table>
		</form>
        <div id="pages"><a>{fc_lang('共%s条', $total)}</a>{$pages}</div>
	</div>
</div>
{template footer.html}