{loop $list $t}
<tr id="dr_row_{$t.id}">
	<td class="" style="padding-top:7px;padding-left:15px"><input type="checkbox" value="{$t.id}" class="dr_select toggle md-check" name="ids[]"></td>
	<td class=""><input class="input-text displayorder" type="text" name="data[{$t.id}][displayorder]" value="{$t.displayorder}" /></td>
	<td class=""><div class="dr_title"><a href="{if $t.status==9}{$t.url}{else}{SITE_URL}index.php?s={APP_DIR}&c=extend&id={$t.id}{/if}" title="{$t.name}" target="_blank">{dr_keyword_highlight($t.name, $kw)}</a></div></td>
	<td class="">{dr_date($t.updatetime, '', 'red')}</td>
	<td class=" html5">{if $t.status == 9}<a class="btn green btn-xs" href="javascript:dr_status({$t.id}, '{$t.status}');">{lang('mod-501')}</a>{else}<a class="btn red btn-xs" href="javascript:dr_status({$t.id}, '{$t.status}');">{lang('mod-502')}</a>{/if}</td>
	<td class="">
    {if $catrule.edit}<a href="{dr_member_url(APP_DIR.'/extend/edit', array('cid'=>$cid, 'id'=>$t.id))}" class="btn green btn-xs" ><i class="fa fa-edit"></i> 修改</a>{/if}
    {if $catrule.del}<a href="javascript:;" onclick="dr_delete('{$t.id}')" class="btn red-mint btn-xs" ><i class="fa fa-trash-o"></i> 删除</a>{/if}
    </td>
</tr>
{/loop}