<style type="text/css">
    .map_l h1,.map_r h1{
      font-size: 1.5em;
      font-weight: bold;
    }
    hr,p{margin:0;}
</style>
</div>
<div class="container01" style="width:100%">
<div class="bottom clear" > 
          <!-- 页尾 -->
    
    <div id="contact" class="contact full-width">
            
            <div class="footer_l contact_l"><img src="{THEME_PATH}home/img/contact_bg.png"/></div>

            
            <div class="footer_r contact_r">
                   <div class="close" ><img style="margin-left: 40px" src="{THEME_PATH}home/img/icon_circle_close.png"></div>

                   <form action="/index.php?c=form_service" method="post" name="myform" id="myform">
                   <div class="input_box"  >
                      <div class="input_group input_account">
                          <span class="addon icon_account" ></span>
                          <input type="text" name="data[title]" id="dr_title" value="" placeholder="您的需求" required="required"  />
                      </div>
                  
                      <div class="input_group input_account">
                          <span class="addon icon_tel" ></span>
                          <input style="width:120px;padding-left:12px;margin-right:5px;" type="text" name="data[mobile]" id="dr_mobile" value="" placeholder="您的电话" required="required"  />

                          <span class="addon icon_pass" ></span>
                          <input style="width:120px;" type="text" name="data[name]" id="dr_name" value="" placeholder="您的姓名" required="required"  />
                      </div>
                  </div>
                      <input class="contact_button" type="submit" value="" />
                  </form>

          
      </div>
      
    </div>  
</div>
 
    
    <div class="bottom "> 
          <!-- 页尾 -->
    
      <div class="map full-width ">
      <div style="width:1200px; margin:0 auto;max-width:1200px;">

        
            <div class="map_l ">
                <div>
                    <h1>品牌故事</h1>
                    <span><a href="/news-show-136.html" target="_blank" rel="nofollow">关于联标</a></span>
                    <span><a href="/news.html" target="_blank" rel="nofollow">新闻资讯</a></span>
                    <span><a href="/news-show-137.html" target="_blank" rel="nofollow">联系我们</a></span>
                </div>
                <div>
                    <h1>平台服务</h1>
                    <span><a href="/taxtool.html" target="_blank">财税工具</a></span>
                    <span><a href="/video.html" target="_blank">企业培训</a></span>
                  <span><a href="/account.html" target="_blank">在线查询</a></span>
                    <span><a href="/shop.html" target="_blank">企业商城</a></span>
                </div>
                <div>
                    <h1>帮助中心</h1>
                    <span><a href="/news-show-139.html" target="_blank" rel="nofollow">常见问题</a></span>
                    <span><a href="/news-show-140.html" target="_blank" rel="nofollow">使用说明</a></span>
                    <span><a href="/news-show-138.html" target="_blank" rel="nofollow">服务说明</a></span>
                </div>
				
				
            </div>
            <div class="map_r ">
                <div>
				<!--左-->
				    <div >
                 
				    <img src="{THEME_PATH}home/img/lb.png"></br>
                </div>
				
				
				  <!--右-->                
                </div>
                <div style="padding:8px;background-color:#fff;">
                  <img src="{THEME_PATH}home/img/icon_pr.png">
                </div>
                <div class="counseling" >
                   <p class="title">联标客服热线</p>
                   <p class="hotline" style="font-size: 39px;">0591-87553670</p>
                   <p class="time">工作时间：9：00 - 18：00</p>
                </div>
                
            </div>
        
      </div>
      </div>  
    </div>

    <div class="bottom "> 
          <!-- 页尾 -->
    
      <div class="footer full-width ">
      <div style="width:1200px; margin:0 auto; max-width:1200px;">


            <div class="org">
                <a href="" target="_blank" rel="nofollow"><img alt="" src="{THEME_PATH}home/img/org01.png" class="err-product" height="40" width="108"></a>
                <a href="" target="_blank" rel="nofollow"><img alt="" src="{THEME_PATH}home/img/org02.png" class="err-product" height="40" width="108"></a>
                <a href="/" target="_blank" rel="nofollow"><img alt="联标国际" src="{THEME_PATH}home/img/org03.png" class="err-product" height="40" width="108"></a>
                <a href="" target="_blank" rel="nofollow"><img alt="" src="{THEME_PATH}home/img/org04.png" class="err-product" height="40" width="108"></a>
                <a href="" target="_blank" rel="nofollow"><img src="{THEME_PATH}home/img/org05.png" class="err-product" height="40" width="108"></a>
            </div>
              
            <div class="copyRight">Copyright  © 2016 联标 版权所有  &nbsp;  </div>

         
         </div> 
        
      
      </div>  
    </div>

</div> 





<script type="text/javascript" src="{THEME_PATH}home/js/index.js"></script>
</body>
</html>