
    <div class="floatWindow">
        
        <div class="quickBar">
            <ul>
              <li class="quick_tel"><a><img style=""  src="{THEME_PATH}home/img/quick_tel.png"></a></li>
              <!-- <li class="baiduMap"><a href='/'><img style="margin-left: 17px;margin-top: 14px" src="{THEME_PATH}home/img/quick_location.png"></a></li> -->
              <li class="qq">
                <div class="qq_list" >
                  <div id="rightDiv" style="">
                  
                  <div id="rightDiv_top" style="">
                    <img src="{THEME_PATH}home/img/qq007.png" style="position:absolute;top:-10px;left:-10px;">
                  </div>
                  <div id="rightDiv_middle" style="">
                  <a  target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=723468688&amp;Site=客服1&amp;menu=yes">
                    客服1<img src="{THEME_PATH}home/img/qq009.gif">
                  </a>
                  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=723468688&amp;Site=客服2&amp;menu=yes">
                    客服2<img src="{THEME_PATH}home/img/qq009.gif">
                  </a>
                  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=723468688&amp;Site=客服3&amp;menu=yes">
                    客服3<img src="{THEME_PATH}home/img/qq009.gif">
                  </a>
                  </div>
                  <div id="rightDiv_bottom" style="