{template "header1.html"}

<link rel="stylesheet" type="text/css" href="{THEME_PATH}home/css/affixBeta.css">
<script type="text/javascript" src="{THEME_PATH}home/js/affixBeta.js"></script>
<script type="text/javascript" src="{THEME_PATH}home/js/jquery.SuperSlide.2.1.1.js"></script>
<style type="text/css">
    body{
        position: relative;
    }
    .container .post_demands {
    height: 163px;
    width: 100%;
    cursor: pointer;
    position: absolute;
    /* margin-top: -163px; */
    left: 0;
    bottom: 214px;
    padding-left: 0;
}
</style>


<link rel="stylesheet" type="text/css" href="{THEME_PATH}home/css/affixBeta.css">
<script type="text/javascript" src="{THEME_PATH}home/js/affixBeta.js"></script>
<link rel="stylesheet" type="text/css" href="{THEME_PATH}home/css/tooltip.css">
<script type="text/javascript" src="{THEME_PATH}home/js/jquery.validate.js"></script>
<script type="text/javascript" src="{THEME_PATH}home/js/messages_zh.js"></script>
<script type="text/javascript" src="{THEME_PATH}home/js/tooltip.js"></script>
<style type="text/css">
     #dr_poster_23{height:auto !important;}
     #dr_poster_23 img{width:1920px;height:auto !important;position:relative;left:50%;margin-left:-960px;}
</style>




<!-- <div class="banner full-screen">
  <div id="adScreen" >
    <img src="{THEME_PATH}home/img/banner06.PNG" style="width:100%;height:100%;">       
  </div>
</div> -->
<div class="sloganWrapper">
    <div class="ad11 " >
      {dr_poster(18)}
    </div>  
</div>

   <div class="box_row banner05 bookKeep" ;">
      <!-- <img class="banner05" src="{THEME_PATH}home/img/banner05.png">
      <img class="bgMask" src="{THEME_PATH}home/img/bgMask.png">
      <div class="adWrapper">
          <img class="bannerAd01" src="{THEME_PATH}home/img/bannerAd01.PNG">    
      </div> -->
        <div class="ad23 " >
        <!--  {dr_poster(23)} -->
        </div>  
    </div>

    <div class="floatWindow appointment" data-spy="affix" data-offset-top="662" data-offset-bottom="972">
        <div class="post_demands"><a href="#contact"><img src="{THEME_PATH}home/img/post_demands.png"></a></div>
    </div>

   <!--   <div class="content1" style="height:495px;">
        <h1>传递客户的声音，帮您接招！</h1>
        <div class="content1_body">-->
         

          <!--  <form class="content1_form" action="/index.php?c=form_account" method="post" name="myform" id="myform">
                <div class="input_group" style="margin-top:20px">
                    <span style="float: left;color:#707070">公司简称</span>
                    <input style="float: left;padding-left:12px;" type="text" name="data[title]" id="dr_title" value=""/>
                </div>
                <div class="input_group" style="margin-top:20px">
                     <span style="float: left;;color:#707070">所属行业</span>
                     <input style="float: left;padding-left:12px;" type="text" name="data[nature]" id="dr_nature" value="" />
                </div>                
                <div class="input_group" style="margin-top:20px">
                     <span style="float: left;;color:#707070">联系方式</span>
                     <input style="float: left;padding-left:12px;"  type="text" name="data[mobile]" id="dr_mobile" value=""/>
                </div> 
                <input type="submit" name="" value="开账申请" >
            </form>-->
			
			
			<div style="margin-top:20px;height:350px;overflow:hidden;">
                <a href="http://localhost/" target="_blank"><img src="{THEME_PATH}home/img/fw.png"></a>
                </div>

        </div>

        <div class="content1_body" style="padding-left:58px;padding-right:0;border-right:none;">
           
            <form class="content1_form">
               
                <div style="margin-top:20px;height:350px;overflow:hidden;">
                <a href="http://121.40.30.63:90/Login.aspx" target="_blank"><img src="{THEME_PATH}home/img/T8.png"></a>
                </div>
                <!--  <a href="http://121.40.30.63:90/Login.aspx" target="_blank" class="sub_login" style="color:#fff;background:#00aa3c;margin-left:110px">立即登录</a>-->
            </form>

        </div>
    </div>
    
    <div class="box_row banner05 softWare">
           <div class="head01" style="font-weight:700">联标发展 和争共达 和争共赢</div>
    </div>
    <div class="introduce" >
            <div class="introduce_content full-width" >
                <h1 >
                    <a><img style="position:relative;top:-5px;" src="{THEME_PATH}home/img/iconbg15.png"></a>
                    <span  style="font-weight:500">联邦产品与服务</span>
                </h1>
                <div class="schedule">
                    <div class="scheduleTd">
                        <div class="iconWrapper">
                            <img src="{THEME_PATH}home/img/iconAlert.png">
                        </div>
                        <div class="s_title">通关物流</div>
                        <div class="s_text">联标发展与合作伙伴签订合作协议，在合作伙伴和监管部门之间搭建高效的通关服务平台。</div>
                    </div>

                    <div class="scheduleTd">
                        <div class="iconWrapper">
                            <img src="{THEME_PATH}home/img/iconSchel.png">
                        </div>
                        <div class="s_title">采购执行</div>
                        <div class="s_text">合作伙伴一对多的采购模式简便为一对一的采购模式，简化采购手续，合作伙伴专注于核心业务。</div>
                    </div>

                    <div class="scheduleTd">
                        <div class="iconWrapper">
                            <img src="{THEME_PATH}home/img/iconTable01.png">
                        </div>
                        <div class="s_title">销售执行</div>
                        <div class="s_text">合作伙伴一对多的销售模式简便为一对一的销售模式，让合作伙伴专注市场拓展。</div>
                    </div>

                    <div class="scheduleTd">
                        <div class="iconWrapper">
                            <img src="{THEME_PATH}home/img/iconTable02.png">
                        </div>
                        <div class="s_title">虚拟生产</div>
                        <div class="s_text">为海外合作伙伴提供方案设计、采购、生产、销售、物流环节的一站式供应链服务。</div>
                    </div>

                    <div class="scheduleTd">
                        <div class="iconWrapper">
                            <img src="{THEME_PATH}home/img/iconExcel.png">
                        </div>
                        <div class="s_title">供应链金融</div>
                        <div class="s_text">联标发展是福建省国资委旗下全资企业，拥有雄厚的资金实力，为广大合作伙伴提供中短期融资</div>
                    </div>
                    
                </div>


            </div>
            
    </div>

    <div class="introduce " >
            <div class="introduce_content full-width " >
                <h1 >
                    <a><img style="position:relative;top:-5px;" src="/statics/home/img/iconbg15.png"></a>
                    <span>联标优势</span>
                </h1>
                <div class="advantage ">
                                    <div class="advantageTd">
                        <div class="advantageNum"><img src="/statics/home/img/num01.png"></div>
                        <div class="advantageText">
                            <a href="http://www.topkuaiji.com/news-show-39.html" target="_blank">港运输、福州、厦门、深圳等口岸24小时内通关。</a>
                        </div>
                    </div>
                                    <div class="advantageTd">
                        <div class="advantageNum"><img src="/statics/home/img/num02.png"></div>
                        <div class="advantageText">
                            <a href="http://www.topkuaiji.com/news-show-40.html" target="_blank">为合作伙伴采购提供资金服务，增大采购量，降低采购价格。</a>
                        </div>
                    </div>
                                    <div class="advantageTd">
                        <div class="advantageNum"><img src="/statics/home/img/num03.png"></div>
                        <div class="advantageText">
                            <a href="http://www.topkuaiji.com/news-show-41.html" target="_blank">为合作伙伴提供收款、开票结算服务，物流仓储配送服务，重新包装、贴标增值服务。</a>
                        </div>
                    </div>
                                    <div class="advantageTd">
                        <div class="advantageNum"><img src="/statics/home/img/num04.png"></div>
                        <div class="advantageText">
                            <a href="http://www.topkuaiji.com/news-show-42.html" target="_blank">标发展为合作伙伴提供手机、液晶电视、平板电脑等产品的虚拟生产服务。</a>
                        </div>
                    </div>
                                    <div class="advantageTd">
                        <div class="advantageNum"><img src="/statics/home/img/num05.png"></div>
                        <div class="advantageText">
                            <a href="http://www.topkuaiji.com/news-show-43.html" target="_blank"> 零在途快速付汇、其他金融增值服务  。</a>
                        </div>
                    </div>
                                    <div class="advantageTd">
                        <div class="advantageNum"><img src="/statics/home/img/num06.png"></div>
                        <div class="advantageText">
                            <a href="http://www.topkuaiji.com/news-show-44.html" target="_blank">支持多种结算方式（T/T、L/C、D/P、D/A） 。</a>
                        </div>
                    </div>
                                </div>

            </div>
            
    </div>    


 <!--   <div class="introduce " >
            <div class="introduce_content full-width " >
                <h1 >
                    <a><img style="position:relative;top:-5px;" src="{THEME_PATH}home/img/iconbg15.png"></a>
                    <span>联标优势</span>
                </h1>
                <div class="advantage ">
                {list action=module module=news catid=11 order=id_asc num=6}
                    <div class="advantageTd">
                        <div class="advantageNum"><img src="{THEME_PATH}home/img/num0{$key+1}.png"></div>
                        <div class="advantageText">
                            <a href="{$t.url}" target="_blank">{$t.title}</a>
                        </div>
                    </div>
                {/list}
                </div>

            </div>
            
    </div>   --> 
  <!--  <div class="box_row banner05 softWare foot" >
           <div class="head01" style="margin-top:35px;">在线查询软件操作便捷，上手容易</div>
    </div>
    <div class="introduce foot box_row" style="width:80%;">
            <div class="introduce_content full-width" >
                
                <div class="schedule" style="width:1200px;height:205px;">
                {list action=module module=news catid=12 order=id_asc num=5}
                    <div class="scheduleTd">
                        <div class="iconWrapper">
                            <a href="{$t.url}" target="_blank"><img src="{THEME_PATH}home/img/icon00{$key+1}.png"></a>
                        </div>
                        <div class="s_title"><a href="{$t.url}" target="_blank" style="color:#fff;">{$t.title}</a></div>
                    </div>
                {/list}
    
                </div>

            </div>
            
    </div> -->

     <script type="text/javascript">
        $(function(){

                jQuery.validator.addMethod("isTel", function(value,element) {   
                    var length = value.length;   
                    var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;   
                    var tel = /^(\d{3,4}-?)?\d{7,9}$/g;       
                    return this.optional(element) || tel.test(value) || (length==11 && mobile.test(value));   
                }, "请正确填写您的联系方式"); 
                
                $("#myform").validate({
                     rules: {
                             "data[title]":"required",
                             "data[nature]":"required",
                             "data[mobile]":{
                                required:true,
                                isTel:true
                                
                              }
                            },
                      messages:{
                            "data[title]":"请填写公司名称",
                            "data[nature]":"请填写行业",
                            "data[mobile]":{
                                required:"请填写联系方式"
                            }
                        },
                      errorPlacement: function (label, element) {
                        $(element).tooltip('destroy'); /*必需*/
                        $(element).attr('title', $(label).text()).tooltip({
                            placement:"bottom"
                        }); 
                      }
   
                });
            
        })
    </script>   


<!-- 

<div class=" banner05 p" style="height: 89px;line-height: 68px;">
  <div class="full-width" style="border-bottom: 1px solid #e2e0e0;background-color: #fff;"> 
    
     <span style="font-size: 25px;">





     <a href="{if $uid}{if $groupid==4}/index.php?s=member&mod=job&c=home&m=add{else}/index.php?s=member&mod=qiuzhi&c=home&m=add{/if}{else}{dr_member_url('login/index')}{/if}" class="addon need" target="_blank">
    <img src="/uploadfile/zj/xqfb.png"></a> 

   
    </span>

      <div class="btnBox">
        <span class="on">个人窗口</span>
        <a href="/publish_job.html"><span>企业窗口</span></a>
      </div>
    </div>
  </div>

<div class="floatWindow appointment" data-spy="affix" data-offset-top="662" data-offset-bottom="972">
        <div class="post_demands"><a href="#contact"><img src="{THEME_PATH}home/img/post_demands.png"></a></div>
    </div>
  
  <div class="publish_content clear">

    <div class="inf_type">
      {list action=category module=qiuzhi order=updatetime num=25}  
        <div class="type01 {if $t['id']==$catid}on{/if}"><a href="{$t['url']}">{$t['name']}</a></div>
      {/list}
    </div>-->

    <!-- 置顶 -->
   <!--  <div class="inf_m_content">
      <div class="inf_m">
         <div class="scrollPic_top">
              <div class="infBtn hd">
            置顶
            <div class="triggerBtn">
              <span class="prev"><img src="{THEME_PATH}home/img/up_arrow.png"></span>
              <span class="next"><img src="{THEME_PATH}home/img/down_arrow.png"></span>
            </div>
        </div>
        <div class="bd">
          <ul >
          {list action=module module=qiuzhi join=member on=uid flag=1 order=updatetime num=12}
            <li>
              <div class="news_row clear onTop ">
                <div class="triBg">置顶</div>
                <div class="news_left">
                  <img src="{if $t['thumb']}{dr_thumb($t['thumb'], 90, 90)}{else}{dr_avatar($t['avatar'], 90, 90)}{/if}">
                </div>
                <div class="news_right">
                  <div class="policy_header">
                      <a href="{$t['url']}" target="_blank"><span class="jobs_title">{$t['title']}</span></a>
                      <a class="on btn_s f_right" href="{$t['url']}" target="_blank">查看详细</a>
                  </div>
                  <div class="policy_body">
                    <p>个人：{$t['realname']}{if $t.levelid !=1 && $t.levelid != 5}<img src="{THEME_PATH}home/images/{$t.levelid}.png" alt="" style="width:25px;height:25px;">{/if}</p>
                    <p>区域：{dr_linkagepos('fujian', $t['now_address'],' ')}   
                      <span class="pay">期待佣金：{get_qzsallary_type($t['qwxz'])}</span>
                      <span class="pubDate">发布时间：{$t['inputtime']}</span>
                    </p>
                  </div>
                </div>
              </div>
            </li>
          {/list}
          </ul>
        </div>
      </div>
      </div>
      <script type="text/javascript">
         $(function(){
              jQuery(".scrollPic_top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,vis:3
                ,trigger:"click"});
         })
      </script>-->

      <!-- 最新需求 -->
    <!--   <div class="inf_m01">
        <div class="infBtn" style="color:#f48000">最新
          <div class="triggerBtn"> </div>
        </div>
        {list action=module module=qiuzhi join=member on=uid catid=$catid order=updatetime num=20}
        <div class="news_row clear">
          <div class="news_right">
            <div class="policy_header">
              <a href="{$t['url']}" target="_blank"><span class="jobs_title">{$t['title']}</span></a>
              <a class="btn_s f_right" href="{$t['url']}" target="_blank">查看详细</a>
            </div>
            <div class="policy_body">
              <p>个人：{$t['realname']}{if $t.levelid !=1 && $t.levelid != 5}<img src="{THEME_PATH}home/images/{$t.levelid}.png" alt="" style="width:25px;height:25px;">{/if}</p>
              <p>区域：{dr_linkagepos('fujian', $t['now_address'],' ')}    <span class="pay">期待佣金：{get_qzsallary_type($t['qwxz'])}</span>
                <span class="pubDate">发布时间：{$t['inputtime']}</span>
              </p>
            </div>
          </div>
        </div>
        {/list}
                

      </div>

    </div> 

{template "publish_com.html"}-->
    
{template "footer1.html"}


