{template "header1_b.html"}
      
    <!--slogan-->
    <div class="sloganWrapper">
        <!-- <div class="ad11 " >
          <img src="{THEME_PATH}home/img/ad11.png" style="width:100%;height: 100%;">
         
        </div>   -->
    </div>
    
                <div class="iiTax taxTool  clear">
              <h1 > 
                    <span class="taxTool_title on">个人所得税</span>
                  
                    <span class="more">
                      <img src="{THEME_PATH}home/img/icon_home.png">
                      <a >您所在的位置</a>：<a href="/">首页  </a> > <a href="/index.php?c=taxtool">财税工具  </a> > <a > 个人所得税</a>
                    </span>
              </h1>
              <div class="iiTaxWrapper">
                    <div class="iiTax01">
                        <section class="iiTaxCalculator">
                            <div class="iiTax_title">利息、股息、红利所得税计算器</div>
                            <div class="row03Box clear">
                                  <div class="row03 clear">
                                      <div class="text">收入类型</div>
                                      <div class="input dropDownMenu02 ">
                                        <input  class="dropDownText dropDownButton" value="利息、股息、红利所得" type="" name="" readonly="readonly">
                                        <span class="dropDownButton addon">
                                          <img src="{THEME_PATH}home/img/triangle06.png">
                                        </span>
                                        <ul id="iiTax_type" class="dropDownList" style="display: none;">
                                        <li data-name="m_wages" class="on">工资、薪金所得（月薪）
                                        </li>
                                        <li data-name="m_bonus" >年终奖个人所得税</li>
                                        <li data-name="m_labor_remuneration" >劳务报酬所得</li>
                                        <li data-name="m_franchise" >特许权使用费所得</li>
                                        <li data-name="m_property_lease" >财产租赁</li>
                                        <li data-name="m_property_transfer" >财产转让所得税</li>
                                        <li data-name="m_interest" >利息、股息、红利所得</li>
                                        <li data-name="m_accidental" >偶然所得税（中彩，中奖税）</li>
                                    </ul>
                                      </div>
                                      
                                  </div>
                                  <div class="row03 clear">
                                      <div class="text">收入金额</div>
                                      <div class="input ">
                                        <input class="num" placeholder="" type="text" id="money" name="money" value="">
                                        <span class="addon"></span>
                                        <span style="padding-left:10px;line-height:33px;">
                                        元</span>
                                      </div>
                                  </div>
                                  
                                  <div class="row03 clear">
                                      <div class="text"></div>
                                      <div class="input">
                                          <div class="btnBox02">
                                            <a class="orangeBg" id="calculate" href="javascript:;" >计算</a>
                                            <a class="greenBg reset" href="#">重置</a>
                                          </div>
                                          
                                      </div>
                                  </div>
                                  
                            </div>
                            
                        </section>

                        <section class="iiTaxResult">
                            <div class="iiTax_title">计算结果</div>
                            <div class="row03Box clear">
                                  <div class="row03 clear">
                                      <div class="text">应纳税所得额</div>
                                      <div class="input">
                                          <span class="r_text" id="yingnashui" style="">0</span>
                                          <span class="r_text">元</span>
                                  </div>
                              </div>
                             
                              <div class="row03 clear">
                                  <div class="text">适用税率</div>
                                  <div class="input">
                                      <span class="r_text" id="rate" style="">0</span>
                                      <span class="r_text">%</span>
                                      </div>
                                  </div>
                                  
                                  <div class="row03 clear">
                                      <div class="text">应缴税款
</div>
                                      <div class="input">
                                        <input type="text" name="yingjiao" value=""><span class="addon"></span><span style="padding-left:10px;line-height:33px;">
                                        元</span></div>
                                  </div>
                                  <div class="row03 clear">
                                      <div class="text">税后收入</div>
                                      <div class="input">
                                        <input type="text" name="income" value=""><span class="addon"></span><span style="padding-left:10px;line-height:33px;">
                                        元</span>
                                      </div>
                                  </div>
                                  
                            </div>
                            
                        </section>

                    </div>
                    <div class="iiTax02 clear">
                        <section class="">
                            <div class="iiTax_title">计算公式</div>
                            <div class="iiTax_text">
                                <p class="strong">应纳税所得额 = 每次收入金额</p>
                                <p class="strong">应纳税额 = 应纳税所得额 × 适用税率（20%）</p>
                                <p>利息、股息、红利所得，以个人每次收入额为应纳税所得额，不扣除任何费用， 以支付单位或个人每次支付利息、股息、红利时，个人的所取得的收入为一次。</p>
                                
                            </div>
                            
                        </section>
                    </div>

                    <div class="iiTax02 clear">
                        <section class="">
                            <div class="iiTax_title">利息、股息、红利所得简介</div>
                            <div class="iiTax_text">
                                
                                <p class="iiTax_h">一、征收范围</p>
                                <p>利息、股息、红利所得，是指个人拥有债权、股权而取得的利息、股息、红利所得。</p>
                                <p>利息，是指个人拥有债权而取得的利息，包括存款利息、贷款利息和各种债券的利息。按税法规定，个人购买国债的国家发行的金融债券免纳个人所得税，个人储蓄利息所得暂免征收个人所得税。</p>
                                <p>股息、红利，是指个人拥有股权取得的股息、红利。按照一定的比例对每股发给的息金，叫股息；公司、企业应分配的利润，按股份分配的叫红利。利息、股息、红利所得，除另有规定外，都应当缴纳个人所得税。</p>

                                <p class="iiTax_h">二、税率</p>
                                <p>利息、股息、红利所得，适用20%的比例税率。</p>

                                <p class="iiTax_h">三、应纳税所得额及应纳税额的计算</p>
                                <p>利息、股息、红利所得，以个人每次收入额为应纳税所得额，不扣除任何费用。</p>
                                <p>应纳税额 = 应纳税所得额 × 适用税率 = 每次收入额 × 20%</p>

                                <p class="iiTax_h">四、关于"次"的认定</p>
                                <p>利息、股息、红利所得，以支付单位或个人每次支付利息、股息、红利时，个人的所取得的收入为一次。</p>
                            </div>
                        </section>
                    </div>
                    
              </div> 
        </div>
             
             
    <script type="text/javascript">
        $(function(){
            $(".container .post_demands img").click();

            $("#calculate").click(function(){
                var money = $("#money").val();
                $.ajax({
                   type: "POST",
                   url: "/index.php?c=taxtool&m=ajax_interest",
                   data: {'money':money},
                   dataType: "JSON",
                   success: function(data){ 
                    $("#yingnashui").html(data['yingnashui']);
                    $("#rate").html(data['rate']);
                    $("input[name=yingjiao]").val(data['yingjiao']);
                    $("input[name=income]").val(data['income']);
                  }
               });
            })
            
        })

    </script>

    {template "footer1.html"}